/*
  Blue Gray
  #90ADC6

  Pewter
  #E9EAEC

  Yellow
  #FAD02C

  Dark Blue
  #333652
*/

$bluegray: #90ADC6;
$pewter: #E9EAEC;
$yellow: #FAD02C;
$darkblue: #333652;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $darkblue;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.Container {
  max-width: 800px;
  margin:  auto;
}

.Card {
  padding: 15px;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
  border-radius: 5px;
  margin: 5px;
}

p {
  color: $pewter;
}

a {
  color: $yellow;
}

button {
  background-color: transparent;
  color: $yellow;
  border-color: $yellow;
}